/** period-picker.css goes udner resources (using maven) **/

.date-picker {
        -fx-font-size: 11pt;
    }

    .calendar-before {
    }

    .calendar-between {
    -fx-background-color: #bce9ff;
    }

    .calendar-between:hover {
    -fx-background-color: rgb(0, 150, 201);
    }

    .calendar-between:focused {
    -fx-background-color: rgb(0, 150, 201);
    }

    .calendar-today {
    -fx-background-color: rgb(255, 218, 111);
    }

    .calendar-today:hover {
    -fx-background-color: rgb(0, 150, 201);
    }

    .calendar-today:focused {
    -fx-background-color: rgb(0, 150, 201);
    }

    #calendar-label {
    -fx-font-style: italic;
    -fx-fill: rgb(75, 75, 75);
    -fx-font-size: 11;
    }